version: '2'

services:
  ci-build:
    # using the nightly image from dockerhub
    # image: microsoft/aspnetcore-build-nightly:1.1.0-preview1-sdk-003933
    # if that's failing, use a custom build where you can specify the various components
    # using custom builds
    #image: microsoft/aspnetcore-build:1.1.0-msbuild
    build: docker/
    volumes:
      - .:/src
    working_dir: /src
    command: /bin/bash -c "dotnet restore && dotnet publish -c Release -o ./bin/Release/PublishOutput"
